<div class="header-container">
    <img class="logo" src="../../assets/search.jpg" />
    <ul>
      <li>
        <a routerLink="/header/home" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/header/about" routerLinkActive="active">About</a>
      </li>
      <li>
        <a routerLink="/header/contact" routerLinkActive="active">Contact</a>
      
      </li>
    </ul>
    <img class="profile"  src="../../assets/profile.jpg"/>
    </div>
    <div  class="grid"> 
    
      <app-sidebar></app-sidebar>
       <router-outlet></router-outlet>
    </div>
  