<div class="footer-container">
    <div class="ftr">
    
    <div>
        <img src="../../assets/joblogo.png" alt="not found"/>
    </div>
    <div class="linkss">
        <h2>Top Links</h2>
        <ul>
            <li>
                <a routerLink="header/about">About Us</a>
            </li>
            <li>
                <a routerLink="header/contact">Contact us</a>
            </li>
            <li>
                <a routerLink="terms&conditions">Terms and Conditions</a>
            </li>
            <li>
                <a routerLink="faq">FAQs</a>
            </li>
            <li>
                <a routerLink="reportproblem">Report a poblem</a>
            </li>
            <li>
                <a routerLink="pploicy">Privacy Policy</a>
            </li>
        </ul>
    </div>
    <div class="follow">
        <h2>Follow us</h2>
        <ul>
            <li>
                <span><i class="fa-brands fa-instagram"></i></span>
                <a href="">Instagram</a>
            </li>
            <li>
                <span><i class="fa-brands fa-facebook"></i></span>
                <a href="">Facebook</a>
            </li>
            <li>
                <span><i class="fa-brands fa-twitter"></i></span>
                <a href="">Twitter</a>
            </li>
            <li>
                <span><i class="fa-brands fa-linkedin"></i></span>
                <a href="">Linked in</a>
            </li>
        </ul>
    </div>
</div>
<br>

    <div class="cpy">
        <span>All rights reserved &copy; 2024 Info Edge India Ltd. </span>
    </div>
</div>
