<!-- 
<app-table [d1]="Num"  [d2]="name"></app-table>
<br>
{{test}}
<div>
    <h1>Parent Component</h1>
    <app-hello (notifyParent)="handleNotification($event)"></app-hello>
</div>

<div >
    <p  #t style="background-color: aqua;">Click the button to change the background color</p>
    <button (click)="ChangeColor()"  >change</button>
</div>
  <br>
  <p>--------------------------------------------------</p>
<div style="background-color: blanchedalmond;">

    <app-child></app-child>
    <button (click)="UpdateMessage()">change</button>

</div> -->
  

<!-- <router-outlet>
    <app-header></app-header>
</router-outlet> -->
  
<app-errorsolve></app-errorsolve>